#check{
    font-family: 'lato',sans-serif;
    text-align: center;
    padding-top: 50px;
}
#order-container i{
    background-color: rgb(5, 187, 5);
    padding-bottom: 30px;
    font-size: 100px;
    cursor: pointer;
    padding: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
}
div{
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    
}